<h1>HomeTask_1</h1>
<h4> 1.Проинсталировать Angular-CLI</h4> 
<h4> 2. Создайте проект </h4> 
<h4>3. Создайте компонент FirstComponent. Используйте его в AppComponent.</h4>
<h4>4. Добавьте несколько простых свойств для компонента FirstComponent</h4>
<app-first-component></app-first-component>
<h4>5. Создайте компонент ProductComponent. Добавьте кнопку Buy в шаблон</h4>
<app-product-component></app-product-component>
<h4>6. Создайте сервис ProductsService</h4>
<app-product-list></app-product-list>
<h4>7. Создайте компонент (ng g c cart) и используйте его в AppComponent темплейте</h4>
<app-cart></app-cart>